name: PHPStan

on:
    pull_request:
    workflow_dispatch:

permissions:
    contents: read

jobs:
    phpstan:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                php_version: ["8.2", "8.3", "8.4", "8.5"]

        name: PHPStan with PHP ${{ matrix.php_version }}

        steps:
            - uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php_version }}

            - name: Install Composer packages
              run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

            - name: Run PHPStan
              run: $GITHUB_WORKSPACE/vendor/bin/phpstan --error-format=github
